<h1>
    <ng-container *ngIf="winner; else elseif">The winner is 
        <br> <font [size]="+10"> {{winner}} </font> <br>
        Congratulations!!!
    </ng-container>
    <ng-template #elseif>
        <ng-container *ngIf="draw; else else1">
            The game ended in a Draw <br>
            Want to play again? <br>
            &darr;
        </ng-container>
    </ng-template>
    <ng-template #else1>
        Current Player: <br>
        <font [size]="+10">{{ currentPlayer }}</font> 
    </ng-template>
</h1>

<button (click)="setUpGame()">Reset Game Board</button>

<main>
    <app-playtile *ngFor="let val of gameBoard; let i = index" [value]="val" (click)="pickTile(i)">
    </app-playtile>
</main>